@import url('https://fonts.cdnfonts.com/css/poppins');

:root{
    --black: #000000 ;/* var(--black); */
    --space-hover: #00000054 ;/* var(--space-hover); */
    --form-border: #0000006E ;/* var(--form-border); */
    --lighter-black: #0000003d ;/* var(--lighter-black); */
    --chatbots-shadow: #00000047 ;/* var(--chatbots-shadow); */
    --abstract-content-focus: #0000001C ;/* var(--abstract-content-focus); */
    --prompt-shadow: #00000057 ;/* var(--prompt-shadow); */
    --path-button: #121212 ;/* var(--path-button); */
    --chapter-title: #1E1E1E ;/* var(--chapter-title); */
    --prompt-text: #222222 ;/* var(--prompt-text); */
    --light-black: #252525 ;/* var(--light-black); */
    --gray-black: #3A3A3A; /* var(--gray-black); */
    --medium-gray: #494949 ;/* var(--medium-gray); */
    --medium-black: #55555514 ;/* var(--medium-black); */
    --brown-gray: #555555 ;/* var(--brown-gray); */
    --settings-page-theme: #6b6b6b ;/* var(--settings-page-theme); */
    --form-input: #8B8B8B ;/* var(--form-input); */
    --very-light-gray: #c2c2c299 ;/* var(--very-light-gray); */
    --action-box-border: #dedede ;/* var(--action-box-border); */
    --error-modal-border: #E5E5E5 ;/* var(--error-modal-border); */
    --gray-border: #E6E6E6; /* var(--gray-border); */
    --white-text: #FFFFFF ;/* var(--white-text); */
    --light-brown-gray: #504f4f ;/* var(--light-brown-gray); */
    --light-brown: #372B2B ;/* var(--light-brown); */
    --delete-personality: #C70000 ;/* var(--delete-personality); */
    --form-input-error: #ff0000; /* var(--form-input-error); */
    --lighter-brown: #6B574E ;/* var(--lighter-brown); */
    --proof-reader-content: #CCC ;/* var(--proof-reader-content); */
    --green-blue: #429E9D ;/* var(--green-blue); */
    --spinner-l-r-b: #00aeef26; /* var(--spinner-l-r-b); */
    --spinner-t: #00aeefcc ;/* var(--spinner-t); */
    --light-blue: #E1ECF4;/* var(--light-blue); */
    --medium-blue: #0C5C9E ;/* var(--medium-blue); */
    --input-file-background: #F7FBFF ;/* var(--input-file-background); */
    --strong-blue: #007bff ;/* var(--strong-blue); */
    --documents-page-header: #363C44 ;/* var(--documents-page-header); */
    --harsh-gray: #94aee34d ;/* var(--harsh-gray); */
    --input-file-selector: #2B64E1; /* var(--input-file-selector); */
    --blue-black: #18203F ;/* var(--blue-black); */
    --suggest: #0618D1 ;/* var(--suggest); */
    --semi-bold-text: #3C3C3D ;/* var(--semi-bold-text); */
    --right-sidebar-border: #D9D4EE ;/* var(--right-sidebar-border); */
    --pink-white: #d9d4eed9 ;/* var(--pink-white); */
    --feature-hover: #afa8ba38 ;/* var(--feature-hover); */
    --new-chapter-btn: #350549; /* var(--new-chapter-btn); */
    --action-box-background: #FEFAFF ;/* var(--action-box-background); */
    --tab-hover: #ebe4ec ;/* var(--tab-hover); */
    --space-tab: #937397 ;/* var(--space-tab); */
    --navbackground: #d5c8d6 ;/* var(--navbackground); */
    --robot-shadow: #E0C9E1 ;/* var(--robot-shadow); */
    --left-sidebar: #3F88C5 ;/* var(--left-sidebar); */
    --document-path: #440A46 ;/* var(--document-path); */
    --navbarbox: #A283A3 ;/* var(--navbarbox); */
    --medium-white: #F3EBF3 ;/* var(--medium-white); */
    --flow-marketplace: #F3EBF366 ;/* var(--flow-marketplace); */
    --proofreader-generated-content: #2E2C2E ;/* var(--proofreader-generated-content); */
    --generated-text-title: #232023 ;/* var(--generated-text-title); */
    --chat-log-background: #9d019d80 ;/* var(--chat-log-background); */
    --chatbots-input: #F5E6EF ;/* var(--chatbots-input); */
    --button-purple: #A42E70 ;/* var(--button-purple); */
}

#page-content{
    overflow:hidden;
}

.label{
    margin-bottom: 10px;
    color: var(--gray-black);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#language,
#personality {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 400;
    color: var(--settings-page-theme);
    border: 0.5px solid var(--lighter-black);
    background:none;
    padding:7px 12px;
}
.form-item > textarea {
    padding: 7px 12px;
    width: 100%;
    height: 100%;
    resize: none;
    border: 0.5px solid var(--lighter-black);
    border-radius: 8px;
}
option {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: var(--settings-page-theme);
    line-height: normal;
}
.number-input {
    max-width: min-content;
}
.form-button{
    margin-top: 30px;
}
.proof-reader-content-wrapper{
    height:100%;
    width:100%;
}
.proof-reader-content {
    display: flex;
    min-height: max-content;
    width: 100%;
    height:50%;
    padding: 40px;
}
.proof-reader-generated-content {
    border: 0.5px solid var(--proof-reader-content);
    display: flex;
    min-height: fit-content;
    width:100%;
    height: 50%;
    background: var(--flow-marketplace);
}
.form-item-container {
    width: 100%;
    display:flex;
    flex-direction:column;
}
.proof-reader-page {
    height: 100%;
}
#text-textarea {
    height: 80%;
    width: 100%;
}
@media screen and (max-width: 1100px) {
    .generate-content {
        flex-direction: column;
        justify-content: center;
    }

}
.proof-reader-cell{
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    color: var(--left-sidebar);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.proof-reader-header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
.proof-reader-header-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--documents-page-header);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    box-shadow: 0 2px 4px 0 var(--chatbots-shadow);
}
.proof-reader-form{
    display:flex;
    flex-direction:row;
    width:100%;
    height:100%;
}
.proof-reader-content-left,.proof-reader-content-right{
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
.proof-reader-content-left{
    margin-right:5%;
    width:40%;

}
.proof-reader-content-right{
    margin-left:5%;
    width:60%;
}
#prompt{
    width:100%;
    height:100%;
    border: 0.5px solid var(--prompt-shadow);
    border-radius: 8px;
    color: var(--prompt-text);
    padding:12px;

}
.form-item{
    width:100%;
    margin-bottom: 15px;
}
.details{
    margin-top: 15px;
}
.generated-text-title{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    color: var(--generated-text-title);
}
.proof-reader-generated-content{
    padding:40px;
    display:flex;
    flex-direction:column;
}
.generated-text,
.observations{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: justify;
    color:var(--proofreader-generated-content);
    overflow-y: scroll;
    width:95%;
    height: 170px;
}
.generated-text-container{
    display:none;
    padding: 20px 0 50px 0;
}
.ai-text-subtitle{
    color:  var(--gray-black);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}
.generated-text-inner-container{
    overflow-y:scroll ;
    width: 50%;
}

.generated-text-buttons{
    margin-top:8px;
    display:flex;
    flex-direction:column;
    height:60px;
    justify-content:space-between;
    cursor:pointer;
}

#refresh-button,
#copy-button{
    margin-left: 10px;
}
#refresh-button:hover,
#copy-button:hover{
    cursor: pointer;
}
.improved-text-container{
    display: flex;
}